version: '3.8'

services:
  graph-node:
    image: graphprotocol/graph-node:latest
    ports:
      - '8000:8000'   # GraphQL HTTP
      - '8001:8001'   # GraphQL WS
      - '8020:8020'   # JSON-RPC admin
      - '8030:8030'   # Subgraph indexing status
      - '8040:8040'   # Metrics
    depends_on:
      - ipfs
      - postgres
    environment:
      postgres_host: postgres
      postgres_port: 5432
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: 'ipfs:5001'
      # Sei EVM RPC endpoint - using your RPC
      ethereum: 'sei:https://evm-rpc.sei-apis.com'
      GRAPH_LOG: info
      GRAPH_ALLOW_NON_DETERMINISTIC_IPFS: "true"
    restart: unless-stopped

  ipfs:
    image: ipfs/kubo:v0.17.0
    ports:
      - '5001:5001'
    volumes:
      - ./data/ipfs:/data/ipfs
    restart: unless-stopped

  postgres:
    image: postgres:14
    ports:
      - '5432:5432'
    command:
      [
        "postgres",
        "-cshared_preload_libraries=pg_stat_statements",
        "-cmax_connections=200"
      ]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
      POSTGRES_INITDB_ARGS: "-E UTF8 --locale=C"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  ipfs:
  postgres:
